*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.section {
  width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'montserratregular', 'Arial', sans-serif;
}

main {
  flex-grow: 1;
}

.logo_left{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
}

.restaurant{
  vertical-align: middle;
}

.restaurant_h2{
  padding-left: 5px;
  vertical-align: middle;
  font-family: 'gilroysemibold';
  color: #FF9401;
  font-size: 24px;
}

.features_h2{
  padding-left: 5px;
  vertical-align: middle;
  font-family: 'gilroysemibold';
  color: #FF9401;
  font-size: 24px;
  text-align: center;
}

.good_food_button{
  font-size: 20px;
  line-height: 30px;
  background-color: #FF9401;
  color: white;
  font-family: 'circular_stdmedium';
  border: 0;
  border-radius: 25px;
  position: absolute;
  width: 243px;
  height: 62px;
  cursor: pointer;
}

.recepies_button_block{
    display: grid;
  place-items: center center;
  padding-top: 60px;
}

.recepies_button{
  font-size: 20px;
  line-height: 30px;
  background-color: #FF9401;
  color: white;
  font-family: 'circular_stdmedium';
  border: 0;
  border-radius: 25px;
  position: absolute;
  width: 243px;
  height: 62px;
  cursor: pointer;
}

/*----------section delivery------------*/
.delivery {
  background-color: #212121;
  color: #fff;
  min-height: 235px;
}
.delivery__title {
  font-size: 30px;
  line-height: 37px;  
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding-top: 80px;
}
.delivery__text {
  font-family: 'montserratlight';
  font-size: 21px;
  line-height: 26px;  
  text-align: center;
  margin-top: 23px;
  margin-bottom: 69px;
}


.container_explore {
  max-width: 1170px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: 718px;
}



.container_about-us {
  max-width: 1170px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: 718px;
}



.good_mood{
  margin: 0;
  font-size: 96px;
  font-family: 'gilroyextrabold';
  color: #232323;
}


.about-us-text-h1{
  margin: 0;
  font-size: 60px;
  font-family: 'gilroyextrabold';
  color: #2E2E2E;
}

.features-text-h1{
  margin: 0;
  font-size: 60px;
  font-family: 'gilroyextrabold';
  color: #2E2E2E;
  text-align: center;
}

.features_h3{
    font-family: 'gilroybold';
    color: #2E2E2E;
    font-size: 30px;
    text-align: center;
}

.features_p{
  color: #3F3232;
  font-family: 'circular_stdbook';
  font-size: 18px;
  text-align: center;
}

.features_img{
  display: block;
  margin-left: auto;
  margin-right: auto 
}

.features-blocks{
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.dishes{
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.dish-button{
  font-size: 10px;
  background-color: rgba(196, 196, 196, 0.26);
  color: #696969;
  font-family: 'circular_stdmedium';
  border: 0;
  border-radius: 25px;
  position: absolute;
  width: 100px;
  height: 22px;
  cursor: pointer;
}


.flame{
  margin: 10px;
  border-radius: 8px;
  width: 354px;
  height: 362px;
  background-color: white;
}

.peach{
  border-radius: 8px;
  margin-left: 54px;
  width: 354px;
  height: 362px;
  background-color: white;
}

.steak{
  border-radius: 8px;
  margin-left: 54px;
  width: 354px;
  height: 362px;
  background-color: white;
}

.food_button{
  padding-bottom: 122px;
}

.good_food_text{
  padding-top: 13px;
  padding-bottom: 44px;
  color: #3F3232;
  margin: 0;
  font-family: 'circular_stdbook';
  font-size: 20px;
  line-height: 160%;
}

.socials{
  padding-left: 30px;
}

.features{
  max-width: 1170px;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: 698px;
}

.recepies{

  justify-content: center;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: 785px;
  background: linear-gradient(0deg, rgba(255,148,1,0.05) 0%, rgba(255,237,211,1) 100%);
}

.main-block{
  max-width: 1170px;
}


header{
  min-height: 170px;
}
.section-header-menu{
  width: 100%;
  top: 0;
}
.section_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 61px;
}

.section-header-menu{
  padding-bottom: 0px;
}
.mainmenu_list {
  vertical-align: middle;
  display: flex;
  flex-direction: row;
}
.mainmenu_item {
  vertical-align: middle;
  justify-content: space-between;
  align-items: center;
  margin-right: 35px;
}
.basket_list{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-items: center;
}
.basket_item{
  padding-left: 66px;
}
.logo {
  align-items: center;
}
ul{
  list-style: none;
}
.menu_link{
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  color: #212121;
  font-weight:bold;
  font-size: 22px;
  padding-top: 5px;
}

/*footer*/


footer{
  max-width:1170px;
  min-height: 377px;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  background: linear-gradient(180deg, rgba(255,148,1,0.05) 0%, rgba(255,237,211,0) 100%);
}

.footer-block{
  padding-left: 90px;
}
/*footer*/


/*
@media (max-width:1170px) {
  .dress_item{
    width: 25%;
  }
  .container {
    width: auto;
    padding: 0 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1326x){
  .slider_button-prev{
    left: 0;
  }
  .slider_button-next{
    right: 0;
  }
}


@media (max-width:1078px){
  .new__card {
    width: 23%;
  }
  .card__img {
    width: 85%;
  }
}

@media (max-width: 768px){
  .dress_item{
    width: 33%;
  }
  .men-women {
    background: linear-gradient(180deg, rgba(249,246,241,1) 0%, rgba(249,246,241,1) 50%, rgba(244,244,244,1) 50%, rgba(244,244,244,1) 100%);
  }
  .men-women__container {
    flex-wrap: wrap;
  }
  .men, 
  .women {
    width: 100%;
  }
  .new__catalog {
    justify-content: center;
  }
  .new__card {
    width: 45%;
    margin: 10px;
  }
  .slider_wrapper{
    display: none;
  }
  .header{
    min-height: 90px;
  }
  .slider_button{
    min-height: 90px;
  }

}
@media (max-width: 576px){
  .dress_item{
    width: 50%;
  }
  .new__card {
    width: 80%;
  }
}
@media (max-width: 320px){
  .dress_item{
    width: 100%;
  }
}
@media (max-width: 600px){
  .basket,
  .menu
  {
    display: none;
    width: 100%;
  }
  .navbar-toggler{
    display: block;
  }
  .mainmenu_list{
    flex-direction: column;
  }
}
@media print {
  .men-women__container{
    display: none;
  }
}
@media(max-width:992px){
  .menu_wrapper{
    flex-wrap: wrap;
  }
  .logo{
    order: -1;
  }
}
*/
.show{
  display: block;
}